{%extends 'base.html'%}
{%block title%}SmartCase{%endblock%}

{%block content%}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{url_for('static', filename='images/test_cases.jpg')}}" class="d-block mx-lg-auto img-fluid home-page-img" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">AI-Driven Test Case Generation and Resource Management</h1>
        <p class="lead">SmartCase automates test case generation and simplifies project resource management. Powered by advanced AI and integrated with cloud platforms like Google Drive, SharePoint, and OneDrive, SmartCase helps you create, track, and manage your testing processes efficiently.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign-up</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Login</button>
        </div>
      </div>
    </div>
  </div>



{%endblock%}